aniso8601==1.2.0
appdirs==1.4.0
click==6.7
Flask==0.12
flask-restplus==0.9.2
functools32==3.2.3.post2
gviz-api.py==1.8.2
itsdangerous==0.24
Jinja2==2.9.4
jsonschema==2.5.1
MarkupSafe==0.23
packaging==16.8
PyMySQL==0.7.9
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
Werkzeug==0.11.15
